@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #6366f1;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }

  .logo-font {
    font-family: "Baloo 2", "sans-serif";
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}

.input-box {
  @apply mt-3 mb-4 flex w-full justify-between gap-3 rounded border border-slate-200 bg-slate-100 px-4 py-3 text-sm text-black outline-none;
}

.btn-primary {
  @apply my-1 w-full rounded-md bg-indigo-500 p-[10px] text-sm font-medium text-white shadow-lg shadow-indigo-600/5 transition-colors duration-200 ease-in-out hover:cursor-pointer hover:bg-indigo-600/85;
}

.card {
  @apply rounded-2xl border border-gray-200/50 bg-white p-6 shadow-md shadow-gray-100;
}

.card-btn {
  @apply flex cursor-pointer items-center gap-3 rounded-lg border border-gray-200/50 bg-gray-50 px-4 py-1.5 text-[12px] font-medium text-gray-700 transition-colors duration-200 ease-in-out hover:bg-indigo-50 hover:text-indigo-500;
}

.add-btn {
  @apply flex cursor-pointer items-center gap-1.5 rounded-lg border border-indigo-100 bg-indigo-50 px-4 py-2 text-xs font-medium whitespace-nowrap text-indigo-600 transition-colors duration-200 ease-in-out hover:bg-indigo-100/85 hover:text-indigo-600/85 md:text-sm;
}

.add-btn-fill {
  @apply bg-primary hover:bg-primary/90 text-white hover:text-white;
}
